{{log this.games}}
<select onChange={{action this.onChange value="target.value"}}>
  {{#each @users as |user|}}
		<option value={{user.id}}>{{user.username}}</option>
	{{/each}}
</select>

<table>
	<tr>
		<th>Code</th>
		<th>Status</th>
		<th>Players</th>
		<th>Join</th>
		<th>Play</th>
	</tr>
	{{#each this.games as |game|}}
		<tr>
      {{log game.id}}
			<th>{{game.code}}</th>
			<th>{{game.status}}</th>
			<th>{{game.total_users}}</th>
			<th><button id="play" {{action this.onJoin  game.id}}  >
        Join! {{game.id}}
			</button></th>
			<th>
				<p>
				<LinkTo
					@route="app.actual-game"
					@model={{game.id}}
				>
					Play! 
				</LinkTo>
			</p>
			</th>
		</tr>
	{{/each}}

</table>
