{{log this.games}}
<table>
	<tr>
		<th>Code</th>
		<th>Status</th>
		<th>Players</th>
		<th>Join</th>
		<th>Play</th>
	</tr>
	{{#each this.games as |game|}}
		<tr>
      {{log game.id}}
			<th>{{game.code}}</th>
			<th>{{game.status}}</th>
			<th>{{game.total_users}}</th>
			<th><button id="play">
        Play!
			</button></th>
			<th><LinkTo
				@route="actual-game"
				@model={{@game.id}}      	>
			Play!
			</LinkTo></th>
		</tr>
	{{/each}}

</table>
