{{log this.games}}
<select onChange={{action this.onChange value="target.value"}}>
  {{#each @users as |user|}}
		<option value={{user.id}}>{{user.username}}</option>
	{{/each}}
</select>

<table>
	<tr>
		<th>Code</th>
		<th>Status</th>
		<th>Players</th>
		<th>Join</th>
		<th>Play</th>
	</tr>
  {{log this.user_global.user}}
	{{#each @games as |game|}}
		<tr>
      {{log game.statusLetra}}
			<th>{{game.code}}</th>
			<th>{{game.statusLetra}}</th>
			<th>{{game.total_users}}</th>
			<th><button id="play" disabled={{if (gte game.total_users 2 ) "true"}} {{action this.onJoin  game.id}}>
        Join! {{game.id}}
			</button></th>
			<th>

				<LinkTo
					@route="app.actual-game"
					@model={{game.id}}
				>
					Play!
				</LinkTo>

			</th>
		</tr>
	{{/each}}
</table>
