<div class=black>
<div>
    <button class="newGame" >
      <LinkTo @route="app.index" > EXIT </LinkTo>
    </button>
    <!-- {{log this.model.game}} -->
    <p>Code: {{this.model.game.code}}</p>
    <p>Status: {{this.model.game.statusLetra}}</p>
    <p>Players: {{this.model.game.total_users}}</p>
    <p>Winner: 
        {{#if this.model.game.winner_id}}
          <p>{{this.model.game.winner_name}}</p>  
        {{else}}
          <p>There´s no winner</p>
        {{/if}}
    </p>
    <button class="newGame"
      disabled={{if (lt this.model.game.total_users 2) true}}
      {{action this.onClick  this.model.game.id}}
    >
      Begin!
    </button>
</div>

<div class=row>
    <Player @plays={{this.model.plays}} @game={{this.model.game}} @handleSubmit={{this.onSubmit}} @winner={{this.model.game.winner_id}} />
</div>

	<!-- {{#each this.model.plays as |play|}}
    {{action this.getUser  play.user_id}}
    {{log @user.username}}
    <Player @user_data={{@user}} @play={{play}}/>
	{{else}}
		No hay
	{{/each}} -->
</div>