<button id="newGame" >
  <LinkTo
    @route="app.index"
  >
    EXIT
  </LinkTo>
</button>
<!-- {{log this.model.game}} -->
<p>Código: {{this.model.game.code}}</p>
<p>Estatus: {{this.model.game.statusLetra}}</p>
<p>Jugadores: {{this.model.game.total_users}}</p>
<p>Ganador: </p>




<Player @plays={{this.model.plays}}/>
	<!-- {{#each this.model.plays as |play|}}
    {{action this.getUser  play.user_id}}
    {{log @user.username}}
    <Player @user_data={{@user}} @play={{play}}/>
	{{else}}
		No hay
	{{/each}} -->
